<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../bootstrap-4.6.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="./CSS_Files/P_Style.css">
    <link rel="stylesheet" href="./CSS_Files/About.css">
    <title> About </title>
</head>
<body>
  <div id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3"><h1 class="logo">Best Name</h1></div>
            <div class="col-md-9">
                <ul id="menu" class="float-md-right">
                    <li><a href="./P_index.html">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="./Products.html">Gallery</a></li>
                    <li><a href="./ContactUs.html">Contactus</a></li>
                    <li> <a class="dropdown-item" href="../Practice_Boot/login.html">Login</a></li>
                    <li><a class="dropdown-item" href="../Practice_Boot/Signup.html">SignUp</a> </li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Header Ends  -->

<div class="container">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-6"> 
        <div class="feature-box">
          <h1>Create Your Won Website</h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem totam vero dolor voluptate maxime laborum, animi, nulla sint id doloremque ipsum! Ad illum eius consequatur labore fugit dicta aut, repellat similique. Excepturi aliquam nesciunt in mollitia ducimus, placeat quae! Fuga consectetur voluptatibus laboriosam tenetur? Excepturi labore eligendi tenetur illo officia?</p>
          <a href="" class="btn-One">Read More</a>
          <a href="" class="btn-One">Contact US</a>
        </div>
      </div>
      <div class="col-md-6">
        <img src="./images/undraw_mobile_development_re_wwsn.svg" alt="" srcset="" class="imgrig"> 
      </div>
    </div>
  </div>
</div>
<img src="./images/wave.svg" alt="Waves" srcset="" class="wave-img">




    <!-- foorter -->
    <div id="Footer-sidebar">
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-sm-6">
                  <div class="footer-widget">
                      <h4>About Company</h4>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, consequatur eum earum id voluptatem commodi?</p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, qui?</p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6">
                  <div class="footer-widget">
                      <h4>Latest News</h4>
                      <ul class="latest-News">
                          <li><i class="fa fa-cloud"></i><a href="">Lorem ipsum dolor sit.</a></li>
                          <li><i class="fa fa-cloud"></i><a href="">Lorem ipsum dolor sit.</a></li>
                          <li><i class="fa fa-cloud"></i><a href="">Lorem ipsum dolor sit.</a></li>
                          <li><i class="fa fa-cloud"></i><a href="">Lorem ipsum dolor sit.</a></li>
                          <li><i class="fa fa-cloud"></i><a href="">Lorem ipsum dolor sit.</a></li>
                      </ul>    
                  </div>
              </div>
              <div class="col-md-4 col-sm-6">
                  <div class="footer-widget">
                      <h4>company Address</h4>
                      <address>
                          <b>Preserve Nature, Inc.</b><br>
                          69696 Barfilli hills , Antartica <br>
                          HarYan, Earth 12345<br>
                          p: 0755 98745
                      </address>    
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- footer ends -->
  <!-- foot  -->
  <div id="footer">
      <div class="container">
          <div class="row">
              <div class="col-md-6">copyright@2022 Company Name.</div>
              <div class="col-md-6">
                  <ul id="Social-icon" class="float-md-right">
                      <li><a href="" class="fa fa-facebook-square"></a></li>
                      <li><a href="" class="fa fa-linkedin-square"></a></li>
                      <li><a href="" class="fa fa-pinterest-square"></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <!-- foot ends  -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>