<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../bootstrap-4.6.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="./CSS_Files/P_Style.css">
    <title> Home </title>
</head>
  <body>
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3"><h1 class="logo">Best Name</h1></div>
                <div class="col-md-9">
                    <ul id="menu" class="float-md-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="./Anout.html">About Us</a></li>
                        <li><a href="./Products.html">Gallery</a></li>
                        <li><a href="./ContactUs.html">Contactus</a></li>
                        <li> <a class="dropdown-item" href="./login.html">Login</a></li>
                        <li><a class="dropdown-item" href="./Signup.html">SignUp</a> </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Ends  -->
    <!-- Banner Start -->
    <div class="banner py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    <div class="Banner-title">
                        <h1 class="title">We Build the Best</h1>
                        <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, odit quaerat! Laudantium molestias suscipit velit quasi reiciendis quas ex accusamus!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Ends  -->
    <!-- section1 -->
    <section>
        <div class="container sec">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-head">We Provide Services</h2>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-box">
                        <i class="fa fa-anchor"> </i>
                        <h3>Heading Heading</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam nobis ab ex sint quasi?</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-box">
                        <i class="fa fa-bar-chart"> </i>
                        <h3>Heading Heading</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam nobis ab ex sint quasi?</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-box">
                        <i class="fa fa-diamond"> </i>
                        <h3>Heading Heading</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam nobis ab ex sint quasi?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section1 ends  -->
    <!-- section2  -->
    <section id="testimonials" class="sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-head text-white">Testimonial</h2>
                </div>
                <div class="col-md-6">
                    <div class="testimonial">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aperiam qui nam, minus magni voluptas.</p>
                        <img src="./images/bill clinton.jpeg" alt="" srcset="">
                        <div class="author">Bill Clinton</div>
                        <div class="author-company">USA White House</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonial">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aperiam qui nam, minus magni voluptas.</p>
                        <img src="./images/putin-2.jpeg" alt="" srcset="">
                        <div class="author">Vladimir Putin</div>
                        <div class="author-company">Дворец Путина {Putin's Palace}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section2 ends  -->
    <!-- News  -->
    <div id="news" class="container sec">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-head">Recent News</h2>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="news-post">
                    <img src="./images/news1.jpg" alt="" srcset="">
                    <h3> <a href="http://"> News Heading Here</a></h3>
                    <div class="post-date">Jul 13, 2022</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nulla nesciunt excepturi.</p>
                    <a href="" class="readmore">Read More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="news-post">
                    <img src="./images/news2.jpg" alt="" srcset="">
                    <h3> <a href="http://"> News Heading Here</a></h3>
                    <div class="post-date">Jul 13, 2022</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nulla nesciunt excepturi.</p>
                    <a href="" class="readmore">Read More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="news-post">
                    <img src="./images/news3.jpg" alt="" srcset="">
                    <h3> <a href="http://"> News Heading Here</a></h3>
                    <div class="post-date">Jul 13, 2022</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nulla nesciunt excepturi.</p>
                    <a href="" class="readmore">Read More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="news-post">
                    <img src="./images/news4.jpg" alt="" srcset="">
                    <h3> <a href="http://"> News Heading Here</a></h3>
                    <div class="post-date">Jul 13, 2022</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nulla nesciunt excepturi.</p>
                    <a href="" class="readmore">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- News ends  -->
    <!-- foorter -->
    <div id="Footer-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="footer-widget">
                        <h4>About Company</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, consequatur eum earum id voluptatem commodi?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, qui?</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="footer-widget">
                        <h4>Latest News</h4>
                        <ul class="latest-News">
                            <li><i class="fa fa-cloud"></i><a href="">Home</a></li>
                            <li><i class="fa fa-cloud"></i><a href="">About</a></li>
                            <li><i class="fa fa-cloud"></i><a href="">Contactus</a></li>
                            <li><i class="fa fa-cloud"></i><a href="">Gallery</a></li>
                        </ul>    
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="footer-widget">
                        <h4>company Address</h4>
                        <address>
                            <b>Preserve Nature, Inc.</b><br>
                            69696 Barfilli hills , Antartica <br>
                            HarYan, Earth 12345<br>
                            p: 0755 98745
                        </address>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer ends -->
    <!-- foot  -->
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">copyright@2022 Company Name.</div>
                <div class="col-md-6">
                    <ul id="Social-icon" class="float-md-right">
                        <li><a href="" class="fa fa-facebook-square"></a></li>
                        <li><a href="" class="fa fa-linkedin-square"></a></li>
                        <li><a href="" class="fa fa-pinterest-square"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- foot ends  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>
</html>